@import 'utilities/variables';

.panel-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem;
	border-radius: 1px;
	background-color: #ffffff;
	margin: 2rem 1rem;

	& .details {
		display: flex;
		flex-direction: column;

		& .heading {
			& .genre {
				opacity: 0.5;
				font-family: Montserrat;
				font-size: 0.875rem;
				font-weight: bold;
				font-stretch: normal;
				font-style: normal;
				line-height: normal;
				letter-spacing: normal;
				color: $black-two;
			}
			& .title {
				font-family: RobotoSlab;
				margin: 0.5rem 0 0 0;
				font-size: 1.375rem;
				font-weight: bold;
				font-stretch: normal;
				font-style: normal;
				line-height: normal;
				letter-spacing: -0.2px;
				color: $black-two;
			}
			& .name {
				font-family: RobotoSlab;
				margin: 0.25rem 0 0;
				font-weight: 300;
				font-stretch: normal;
				font-style: normal;
				line-height: normal;
				letter-spacing: normal;
				font-size: 1rem;
				color: #4386bf;
			}
		}

		& .buttons {
			& ul {
				display: flex;
				justify-content: space-between;
				align-items: center;
				gap: 1rem;
				padding: 0;
				list-style: none;

				& li {
					font-family: RobotoSlab;
					font-size: 1rem;
					font-weight: 300;
					font-stretch: normal;
					font-style: normal;
					line-height: normal;
					letter-spacing: normal;
					color: #4386bf;
				}
			}
		}
	}

	& .progress-section {
		display: flex;
		& .progress-bar {
			height: 4rem;
			width: 4rem;
			color: $white-two;
			border: 5px solid;
			border-radius: 100%;
		}
	}
}
