@import 'utilities/variables';

.panel-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem;
	border-radius: 1px;
	background-color: #ffffff;
	margin: 2rem 1rem;

	& .details {
		display: flex;
		flex-direction: column;

		& .heading {
			& .genre {
				opacity: 0.5;
				font-family: Montserrat;
				font-size: 0.875rem;
				font-weight: bold;
				font-stretch: normal;
				font-style: normal;
				line-height: normal;
				letter-spacing: normal;
				color: $black-two;
			}
			& .title {
				font-family: RobotoSlab;
				margin: 0.5rem 0 0 0;
				font-size: 1.375rem;
				font-weight: bold;
				font-stretch: normal;
				font-style: normal;
				line-height: normal;
				letter-spacing: -0.2px;
				color: $black-two;
			}
			& .name {
				font-family: RobotoSlab;
				margin: 0.25rem 0 0;
				font-weight: 300;
				font-stretch: normal;
				font-style: normal;
				line-height: normal;
				letter-spacing: normal;
				font-size: 1rem;
				color: #4386bf;
			}
		}

		& .buttons {
			& ul {
				display: flex;
				justify-content: space-between;
				align-items: center;
				gap: 1rem;
				padding: 0;
				list-style: none;

				& li {
					font-family: RobotoSlab;
					font-size: 1rem;
					font-weight: 300;
					font-stretch: normal;
					font-style: normal;
					line-height: normal;
					letter-spacing: normal;
					color: #4386bf;
				}
			}
		}
	}

	& .progress-section {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 1rem;

		& .progress {
			width: 100%;
		}

		& .progress .chart {
			position: relative;
			width: 100%;
			height: 100%;
			font-size: 40px;
		}

		& .percentage {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			font-family: Montserrat;

			& .score {
				font-size: 2rem;
			}

			& .completed {
				color: $black-two;
			}
		}
	}

	& .chapter-container {
		& .chapter-title {
			opacity: 0.5;
			font-family: RobotoSlab;
			font-size: 0.813rem;
			font-weight: 300;
			font-stretch: normal;
			font-style: normal;
			line-height: normal;
			letter-spacing: normal;
			color: $black-two;
		}
		& .chapter-number {
			font-family: RobotoSlab;
			font-size: 1rem;
			font-weight: 300;
			font-stretch: normal;
			font-style: normal;
			line-height: normal;
			letter-spacing: -0.4px;
			color: $black-two;
		}

		& .btn {
			padding: 0.438rem 1.188rem 0.5rem 1.375rem;
			border-radius: 3px;
			border: none;
			font-size: 0.813rem;
			color: #ffffff;
			font-family: RobotoSlab;
			line-height: normal;
			letter-spacing: 0.5px;
			text-align: center;
			background-color: #0290ff;
		}
	}
}
